.podcast-navbar-container {
   
    display: flex;
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 3px 1px #cdc6c6;
    -moz-box-shadow: 0 1px 3px 1px #cdc6c6;
    box-shadow: 0 1px 3px 1px #cdc6c6;
    justify-content: space-between;
}

.podcast-navbar-title{
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #2876BF;
    cursor: pointer;
}