.podcast-navbar-container {
  display: flex;
  width: 100%;
  padding: 18px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 3px 1px #cdc6c6;
  -moz-box-shadow: 0 1px 3px 1px #cdc6c6;
  box-shadow: 0 1px 3px 1px #cdc6c6;
  justify-content: space-between;
}

.podcast-navbar-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #2876bf;
  cursor: pointer;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 5px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2876bf;
  transition: opacity 3s ease;
  border: 3px solid #3a7bd5;
  opacity: 0.7s;
}

.dot.active {
  opacity: 1;
  box-shadow: 0 0 40px #2876bf;
  animation: glow 6s infinite alternate;
  border: 2px solid #3a7bd5;
}

@keyframes glow {
  0% {
    box-shadow: 0 0px 30px #2876bf;
  }
  50% {
    box-shadow: 0 0px 40px #2876bf;
  }
  100% {
    box-shadow: 0 0px 50px #2876bf;
  }
}
